.wrapper {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  background: linear-gradient(248.6deg, rgba(0, 57, 255, 0.075) 0%, rgba(0, 0, 0, 0) 100%), #00060E;
  color: #fff;
  min-height: 100vh;
}

.body {
  flex: 1;
  position: relative;
  z-index: 10;
  transition: all 375ms ease;
}

.contact {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0;
  transition: all 375ms ease;
}

.contactForm {
  padding: 4rem;
  border-radius: 10px;
  background: #fff;
}

.contacting .contact {
  transform: translateY(0);
  opacity: 1;
}

.contacting .body {
  transform: translateY(calc(-100% - 100px));
  opacity: 0;
}

.logo {
  display: block;
  cursor: pointer;
  margin-left: 5px;
  max-width: 140px;
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.header {
  background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0));
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Fredoka';
}

.link:hover {
  text-decoration: underline;
}

.glow {
  opacity: 0.75;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0,0,0,0), #0b0b3c);
}

