.wrapper {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  color: #fff;
  min-height: 100vh;
}

.header {
  position: relative;
  z-index: 100;
}

.body {
  flex: 1;
  position: relative;
  z-index: 10;
  transition: all 375ms ease;
}

.navWrap {
  transition: transform 375ms ease;
  transform: translateX(0);
  display: none;
}

.navWrapHome {
  composes: navWrap;
  transform: translateX(232px);
}

.navWrapHome li:last-child {
  margin-left: calc(50px - 0.25rem);
}

.nav {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 0.25rem;
}

.headerContainer {
  display: flex;
  align-items: center;
  padding: 40px;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Fredoka';
}

.link:hover {
  text-decoration: underline;
}

.glow {
  display: none;
  opacity: 0.75;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(rgba(0,0,0,0), #0b0b3c);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  border-top: 1px solid rgba(255,255,255,0.1);
  font-size: 75%;
  color: #999;
}

@media(min-width: 768px) {

  .header {
    background: linear-gradient(#00060E, rgba(0,0,0,0));
  }

  .body {
    padding-top: 194px;
  }

  .navWrap {
    display: block;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  .headerContainer {
    justify-content: space-between;
    padding: 50px 50px 100px 50px;
    overflow: hidden;
  }

}
