.folio {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: all 375ms ease;
}

.fadeAway {
  transform: translateY(100%);
  opacity: 0;
}

.folioScroll {
  white-space: nowrap;
  margin: 0 auto;
  overflow-x: auto;
  padding-left: 1rem;
}

.folioItem {
  display: inline-block;
  margin-left: 1rem;
  margin-bottom: -6px;
  padding-top: 20px;
  overflow: hidden;
  opacity: 0.666;
  transition: opacity 375ms ease;
}

.folioItem:hover {
  opacity: 1;
}

.folio li:first-child {
  margin-left: 0;
}

.folio li:last-child {
  margin-right: 1rem;
}

.folioLink {
  display: block;
  width: 300px;
}

@media(min-width: 768px) {
  .folioItem {
    opacity: 0.666;
  }
}
