.gallery {
  position: relative;
  margin: 3rem -40px;
}

.wrapper {
  position: relative;
  overflow-x: scroll;
  padding-left: 40px;
}

.scroll {
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.item {
  display: inline-block;
  margin-right: 10px;
  width: 90%;
  background: #222;
}

.item:last-child { margin-right: 40px }

@media(min-width: 768px) {
  
  .gallery {
    margin-left: 0;
    margin-right: 0;
  }

  .wrapper {
    padding: 0;
  }

  .item {
    width: auto;
  }

  .item:last-child { margin-right: 0 }

}
