* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #00060E;
}

img {
  max-width: 100%;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 0.25rem;
  padding: 0 1.5rem;
}

.input {
  width: 100%;
  height: 50px;
  border: 0;
  border-radius: 20px;
  background: #262626;
  color: #fff;
  padding: 0 1.5rem;
  font-size: 100%;
  margin-bottom: 1rem;
  outline: 0;
}

.inverse {
  color: #222;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  padding: 0 2rem;
  height: 44px;
  background-color: #406AFD;
  cursor: pointer;
  font-size: 100%;
  font-weight: 600;
  font-family: 'Fredoka';
  color: #fff;
  border: 2px solid transparent;
  border-radius: 2rem;
  transition: all 375ms ease;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
}

.btn--block {
  width: 100%;
}

.btn--clear {
  background: none;
}

.btn--clear:hover {
  transform: translateY(0);
  background: rgba(255,255,255,0.05);
  box-shadow: none;
}

.btn--large {
  height: 60px;
  padding: 0 4rem;
}

.btn--secondary {
  background: none;
  border: 2px solid #406AFD;
}

.btn--tertiary {
  background: none;
  border: 2px solid #fff;
}

.btn--neutral {
  background: #111;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}

.title {
  font-family: 'Fredoka';
  font-weight: 600;
  color: #fff;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #fff;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

.spacing,
p {
  margin-bottom: 1rem;
}

p + h2 {
  margin-top: 3rem;
}

.browser {
  margin: 3rem 0;
  border-top: 2em solid #f2f2f2;
  box-shadow: 0 .1em 1em 0 rgba(0,0,0,.4);
  position: relative;
  border-radius: 10px 10px 0 0;
}

.browser:before {
  display: block;
  position: absolute;
  content: "";
  top: -1.25em;
  left: 1em;
  width: .5em;
  height: .5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44,1.5em 0 0 2px #9b3,3em 0 0 2px #fb5;
}

@media(min-width: 768px) {
  html {
    font-size: 110%;
  }

  .show-mobile {
    display: none;
  }

}

.browser .carousel {
  padding-bottom: 44px;
}
