.contacting {
  position: relative;
}

.container {
  height: calc(100vh - 108px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #fff;
  margin-bottom: 0.5rem;
  line-height: 1.05;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.carousel {
  margin-left: -40px;
  margin-right: -40px;
}

.avatar {
  margin-bottom: 1rem;
  border-radius: 50%;
  overflow: hidden;
  border: 10px solid #cddbf2;
  width: 200px;
  height: 200px;
}

.actions {
  display: flex;
  gap: 1rem;
}

.skills {
  display: flex;
  flex-direction: column;
  opacity: 0.3;
  margin: 1rem 0 2rem 0;
  gap: 0.5rem;
  list-style: none;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 15px;
}

.carousel {
  display: none;
}

.folio {
  margin: 0 -40px;
}

@media(min-width: 768px) {

  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .bodyLoading {
    opacity: 0;
    transform: scale(0.9);
  }

  .body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 375ms ease;
  }

  .title {
    text-align: center;
  }

  .skills {
    flex-direction: row;
    align-items: center;
  }

  .skills li {
    display: flex;
    align-items: center;
  }

  .skills li:before {
    margin: 0 1rem;
    display: block;
    content: '•';
  }

  .skills li:first-child:before {
    display: none;
  }

}

@media(max-width: 767px) {

  .cta {
    width: 100%;
  }

  .body {
    padding: 50px 0;
  }

}


@media(min-width: 768px) {

  .folio { display: block }

  .carousel {
    display: none;
  }

  .container {
    height: 100vh;
  }

  .title {
    display: block;
    font-size: 4rem;
  }

}

