@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cta {
  margin: 2rem 0;
}

.body {
  transition: all 375ms ease;
  color: #999;
  opacity: 1;
}

.slug {
  padding-bottom: 40px;
}

.title {
  font-size: 1.75rem;
  font-weight: 900;
}

.hero {
  margin: -108px -40px 40px -40px;
}

.bodyLoading {
  opacity: 0;
  transform: translateY(50px);
}

.description {
  font-size: 110%;
  margin-bottom: 2rem;
}

.post {
  margin-bottom: 3rem;
}

.mobileCta {
  margin-bottom: 3rem;
}

.thumbs {
  opacity: 0;
  margin-top: 30px;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  animation: showThumbs 375ms 750ms forwards;
}

@keyframes showThumbs {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.breadcrumb:hover { text-decoration: underline }

.nav {
  margin-top: 2rem;
}

@media(max-width: 767px) {
  .cover { display: none }
}

@media(min-width: 768px) {

  .title { font-size: 4rem } 

  .hero { display: none }

  .thumbs {
    grid-template-columns: repeat(8, 1fr);
  }
  
  .slug {
    padding-bottom: 194px;
  }

  .grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3rem;
  }

  .cover {
    width: 350px;
    transition: all 375ms ease;
    position: sticky;
    top: 194px;
    max-height: 500px;
  }
  
  .coverLoading {
    opacity: 0;
    transform: translateY(-50px);
  }
}
