.slug {
  padding: 194px 0;
}

.body {
  transition: all 375ms ease;
  color: #999;
}

.bodyLoading {
  opacity: 0;
  transform: translateY(50px);
}

.description {
  font-size: 150%;
  margin-bottom: 2rem;
}

.breadcrumb {
  color: #fff;
  opacity: 0.5;
}

.breadcrumb:hover {
  opacity: 1;
}

.thumbs {
  opacity: 0;
  margin-top: 30px;
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  animation: showThumbs 375ms 750ms forwards;
}

.cta {
  max-width: 300px;
}

@keyframes showThumbs {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.breadcrumb:hover { text-decoration: underline }

.nav {
  margin-top: 2rem;
}

@media(min-width: 1000px) {
  .grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 3rem;
  }

  .cover {
    width: 400px;
    transition: all 375ms ease;
    position: sticky;
    top: 150px;
    max-height: 500px;
  }
  
  .coverLoading {
    opacity: 0;
    transform: translateY(-50px);
  }
}
